*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    padding-top: 4%;
}
.console{
    
    width: 28%;
    height: 55vh;
    margin: 0 auto;
    background-color: rgb(255, 183, 2);
    padding-top: 10%;
    border-radius: 12px;
}

.console  .top{
    width: 70px;
    height: 70px;
    background-color: rgb(252, 0, 0);
    margin-left: 40%;
    border-radius: 42px;
    
}
 .control{
   width: 15%;
   height: 25vh;
   background-color: forestgreen;
   margin: 0 auto;
   margin-top: 15px;
   border-radius: 10px; 
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2%;
}
.all-size{
    width: 28%;
    height: 23%;
    margin: 1%;
    background-color: slateblue;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: salmon;
    border-radius: 25px;
}
